<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
   <head>
     <title>Spring Boot App</title>
   </head>
   <body>
     <h1>Welcome to...</h1>
     <!-- 
     
     <img th:src="@{/images/java.png}"/>
      -->
      <table border="1">
      	  <thead>
      	  	<tr>
      	  		<th>ID</th>
      	  		<th>Name </th>
      	  		<th>Email</th>
      	  		<th>Action</th>
      	  	</tr>
      	  </thead>
	      <tr th:each="user: ${users}">
	      	<td> <span th:text="${user.id}"></span></td>
	     	<td> <span th:text="${user.name}"></span></td>
	     	<td> <span th:text="${user.email}"></span>
	     	<td>
	     		<a th:href='@{/user/edit/{id}(id=${user.id})}'>Edit</a>
	     		&nbsp;
	     		<a th:href='@{/user/delete/{id}(id=${user.id})}'>Delete</a>
	     	</td>
	      </tr>
      </table>
      <a href="/user/new">New User</a>
     
</body>
</html>
